.header{
  display: flex;
  justify-content: center;
  align-items: center;

  &__item{
    width: 250px;
    height: 60px;
    background: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.01);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__flexBox{
    width: 100%;
    padding: 15px 0;
    background: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
  }
}